.App-header {
  padding: 0 20px;
  background-color: var(--app-header-background-color);
  box-sizing: border-box;
  .App-header-title {
    font-size: 24px;
    color: var(--app-header-color);
  }
  .App-header-content {
    height: 100%;
    color: var(--app-header-color);
    .App-header-menu {
      height: 100%;
      padding-right: 60px;
      cursor: pointer;
      .App-header-menu-item {
        height: calc(100% - 40px);
        padding: 20px 30px;
        &:hover,
        &.actived {
          background: rgb(0, 0, 0, 0.15);
          color: var(--app-header-hover-color);
        }
        .menu-item-title {
          padding-left: 8px;
        }
      }
    }
  }
  .App-header-useinfo {
    padding: 20px 0;
    color: var(--app-header-color);
    .useinfo-name {
      padding: 0 10px;
    }
  }
}
