.right-panel-wrapper {
  position: absolute;
  right: 0;
  background-color: #ffffff;
  border-left: #eeeeee;
  .right-panel-content {
    width: fit-content;
    height: 100%;
    .right-panel-item {
      width: fit-content;
      height: 100%;
      display: none;
      &.actived {
        display: block;
      }
    }
  }
  .right-panel-tabs {
    position: absolute;
    top: 12px;
    left: -32px;
    .right-tab-item {
      width: 15px;
      margin-top: 10px;
      padding: 12px 8px;
      background: #dcdcdc;
      border: 2px solid transparent;
      border-radius: 5px 0 0 5px;
      color: #aaaaaa;
      cursor: pointer;
      border: 1px solid rgba(201, 205, 221, 1);
      text-align: center;
      &:hover {
        background-color: #f7f7f7;
      }
      &.actived {
        color: #666666;
        background: rgba(255, 255, 255, 1);
        border: 1px solid rgba(201, 205, 221, 1);
        border-radius: 5px 0 0 5px;
        &:hover {
          background-color: #f7f7f7;
        }
        span {
          &:hover {
            color: #333333;
          }
        }
      }
      .tab-item-title {
        margin-bottom: 6px;
      }
      span {
        .iconfont {
          margin-left: -2px;
        }
      }
    }
  }
}
