@import url(./common.scss);
@import url(./antDesign.scss);
@import url(./theme-default.scss);
@import url(./theme-light.scss);
@import url(./theme-black.scss);
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html,body {
  margin: 0;
  padding: 0;
  height: 100%;
}
