:root {
  --app-primary-color: #fff;
  --app-header-background-color: #75baff;
  --app-aside-background-color: #e1f0ff;
  --app-map-background-color: #dddddd;
  --app-top-panel-background-color: #aad4ff;
}