:root {
  --app-primary-color: #fff;
  --app-header-color: rgb(255, 255, 255);
  --app-header-hover-color: rgb(247, 247, 247);
  --app-header-background-color: #75baff;
  --app-aside-background-color: #e1f0ff;
  --app-map-background-color: #dddddd;
  --app-top-panel-background-color: #aad4ff;
  --app-toolbar-color: #f5f5f5;
}