.App-aside {
  width: 80px;
  height: 100%;
  background-color: var(--app-aside-background-color);
  color: var(--app-aside-color);
  padding: 50px 20px;
  box-sizing: border-box;
  text-align: center;
  .App-aside-item {
    margin-bottom: 26px;
    cursor: pointer;
    &:hover,
    &.actived {
      color: var(--app-aside-actived-color);
    }
    .iconfont {
      font-size: 28px;
    }
    .aside-item-title {
      margin-top: 4px;
    }
  }
}
